@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    src: url("/fonts/inter/inter-v.woff2") format("woff2");
  }

  @font-face {
    font-family: "ibm-plex-mono";
    src: url("/fonts/ibm-plex-mono/ibmplexmono-medium.woff") format("woff"),
      url("/fonts/ibm-plex-mono/ibmplexmono-medium.woff2") format("woff2");
  }

  .back-button {
    @apply flex items-center bg-brand-1 text-white-100 text-h5 py-4 px-8 gap-3 rounded-lg transition-all;
  }

  .back-button:hover {
    @apply transition-all translate-y-2;
    box-shadow: 0 0.25rem 0.25rem var(--brand-4), 0 0 0.5rem var(--brand-3);
  }

  .back-button-icon {
    display: block;
    content: " ";
    width: 1em;
    height: 1em;
    background: center / 1em 1em no-repeat url("/images/arrow-back-icon.svg");
  }

  .image-bg-404 {
    background: center / 100% auto no-repeat url("/images/404-bg.svg");
  }

  .forward-icon {
    width: 1em;
    height: 1em;
  }

  .forward-icon::after {
    display: block;
    content: "";
    height: 1em;
    width: 1em;
    background: center / 1em 1em no-repeat url("/images/arrow-forward-icon.svg");
  }
}

:root {
  --brand-1: #440099;
  --brand-2: #1d0041;
  --brand-3: #80fffb;
  --brand-4: #80ffa4;

  --white-100: #ede6f5;
  --white-200: #d5cfdd;

  --grey-100: #27242a;
  --grey-200: #514d56;

  --black-100: #06000e;
  --black-200: #080012;
  --black-300: #100024;
  --black-400: #0f0c12;

  --s: 0.75rem;
  --p: 1rem;
  --h6: 1.333rem;
  --h5: 1.777rem;
  --h4: 2.369rem;
  --h3: 3.157rem;
  --h2: 4.209rem;
  --h1: 5.61rem;

  --gradient-1-t: linear-gradient(to top, var(--brand-3), var(--brand-1));
  --gradient-1-d45: linear-gradient(45deg, var(--brand-3), var(--brand-1));
  --gradient-bg-d: linear-gradient(to top, var(--brand-1), var(--black-300));
}

body {
  color: var(--white-100);
  background: var(--black-300);
  line-height: 1;
}
