@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    src: url("/fonts/inter/inter-v.woff2") format("woff2");
  }

  @font-face {
    font-family: "ibm-plex-mono";
    src: url("/fonts/ibm-plex-mono/ibmplexmono-medium.woff") format("woff"),
      url("/fonts/ibm-plex-mono/ibmplexmono-medium.woff2") format("woff2");
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 20px var(--white-200) inset !important;
    -webkit-text-fill-color: var(--black-300);
  }

  .back-button {
    @apply flex items-center bg-brand-1 text-white-100 text-h5 py-4 px-8 gap-3 rounded-lg transition-all;
  }

  .back-button:hover {
    @apply transition-all translate-y-2;
    box-shadow: 0 0.25rem 0.25rem var(--brand-4), 0 0 0.5rem var(--brand-3);
  }

  .back-button-icon {
    display: block;
    content: " ";
    width: 1em;
    height: 1em;
    background: center / 1em 1em no-repeat url("/images/arrow-back-icon.svg");
  }

  .image-bg-404 {
    background: center / 100% auto no-repeat url("/images/404-bg.svg");
  }

  .forward-icon {
    width: 1em;
    height: 1em;
  }

  .forward-icon::after {
    display: block;
    content: "";
    height: 1em;
    width: 1em;
    background: center / 1em 1em no-repeat url("/images/arrow-forward-icon.svg");
  }

  .visibility-on-icon {
    position: absolute;
    width: 1.25em;
    height: 1.25em;
  }

  .visibility-on-icon::after {
    display: block;
    content: "";
    width: 1.25em;
    height: 1.25em;
    background: center / 1.25em 1.25em no-repeat
      url("/images/visibility-on-icon.svg");
  }

  .visibility-off-icon {
    position: absolute;
    height: 1.25em;
    width: 1.25em;
  }

  .visibility-off-icon::after {
    display: block;
    content: "";
    width: 1.25em;
    height: 1.25em;
    background: center / 1.25em 1.25em no-repeat
      url("/images/visibility-off-icon.svg");
  }

  .lobby-nav-icon {
    position: absolute;
    width: 3rem;
    height: 3em;
  }

  .lobby-nav-icon::after {
    display: block;
    content: "";
    width: 3em;
    height: 3em;
    background: center / 3em 3em no-repeat;
  }

  .close-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .close-icon::after {
    display: block;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: center/ 1.5rem 1.5rem no-repeat url("/images/close-icon.svg");
  }

  .scrollbar {
    color: inherit;
  }

  .scrollbar::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
  }

  .scrollbar::-webkit-sccrollbar-track {
    background-color: var(--black-100);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--black-500);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--brand-1);
  }

  .add-image-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-image-icon::before {
    content: " ";
    background-image: url("/images/add-photo-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .avatar-add-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    background-color: var(--brand-1);
    border-radius: 50%;
  }

  .avatar-add-icon::after {
    height: 32px;
    width: 32px;
    content: " ";
    background-image: url("/images/add-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .community-bg {
    display: flex;
    background-image: url("/images/octoconvo-community-icon.svg"),
      url("/images/octoconvo-circle-icon.svg");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 128px 128px, 256px 256px;
  }

  .attachment-btn {
    display: flex;
    background-image: url("/images/add-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: var(--black-300);
    border-radius: 8px;
  }

  .attachment-btn:hover {
    background-image: url("/images/add-icon.svg"), var(--gradient-bg-d);
  }

  .send-btn {
    display: flex;
    background-image: url("/images/send-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 8px;
  }

  .send-btn:hover {
    transform: scale(1.1);
  }

  .delete-btn {
    position: absolute;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: var(--black-400);
    background-image: url("/images/delete-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    border-radius: 0 0 8px 8px;
    right: 8px;
    top: 0;
  }

  .spinner {
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--brand-1) 94%, #0000)
        top/9px 9px no-repeat,
      conic-gradient(#0000 30%, var(--brand-1));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 25%), #000 0);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 25%),
      #000 0
    );
    animation: spinner 1s infinite linear;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-icon::before {
    content: " ";
    width: 100%;
    height: 100%;
    background-image: url("/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  .searchbar-input {
    background-color: var(--grey-100);
    width: 100%;
    font-size: var(--p);
  }

  .searchbar-input::placeholder {
    color: var(--white-200);
  }

  .searchbar-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--grey-100) inset !important; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--white-100);
  }

  .searchbar-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--grey-100) inset !important; /*your box-shadow*/
    -webkit-text-fill-color: var(--white-100);
  }

  .searchbar-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 50px var(--grey-100) inset !important; /*your box-shadow*/
    -webkit-text-fill-color: var(--white-100);
  }

  .searchbar-input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 50px var(--grey-100) inset !important; /*your box-shadow*/
    -webkit-text-fill-color: var(--white-100);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon:before {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

  @keyframes spinner {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 0;
    }

    t0 {
      opacity: 1;
    }
  }

  @keyframes slide-right {
    from {
      translate: -50% 0;
      opacity: 50%;
    }

    to {
      translate: 0;
      opacity: 1;
    }
  }

  @keyframes slide-left {
    from {
      translate: 0 0;
      opacity: 1;
    }

    to {
      translate: -300% 0;
      opacity: 50%;
    }
  }

  @keyframes zoom-in {
    from {
      opacity: 50%;
      scale: 0;
    }
    to {
      opacity: 100;
      scale: 1;
    }
  }

  @keyframes jumpy-zoom-in-s {
    0% {
      scale: 0.5;
    }

    90% {
      scale: 1.05;
    }

    100% {
      scale: 1;
    }
  }

  @keyframes notification {
    0% {
      scale: 0;
      translate: 0 0;
    }

    15% {
      scale: 0.6;
      translate: 25% -25%;
    }

    30% {
      scale: 1.2;
      translate: 0 0;
    }

    100% {
      scale: 1;
      translate: 0 0;
    }
  }
}

:root {
  --brand-1: #440099;
  --brand-1-2: #5306d8;
  --brand-1-3: #2c0372;
  --brand-2: #1d0041;
  --brand-3: #80fffb;
  --brand-3-d-1: #3bc1e7;
  --brand-4: #80ffa4;

  --invalid: #b53300;
  --notification: #d40028;

  --white-100: #ede6f5;
  --white-200: #d5cfdd;
  --white-200-op-01: #d5cfdd1a;
  --white-200-op-025: #d5cfdd40;

  --grey-100: #27242a;
  --grey-200: #514d56;
  --grey-300: #625f67;

  --black-100: #06000e;
  --black-200: #080012;
  --black-300: #100024;
  --black-400: #0f0c12;
  --black-500: #171619;
  --black-600: #1f1d22;

  --s: 0.75rem;
  --p: 1rem;
  --h6: 1.333rem;
  --h5: 1.777rem;
  --h4: 2.369rem;
  --h3: 3.157rem;
  --h2: 4.209rem;
  --h1: 5.61rem;

  --gradient-main-r: linear-gradient(to right, var(--brand-2), var(--brand-1));
  --gradient-1-t: linear-gradient(to top, var(--brand-3), var(--brand-1));
  --gradient-1-d45: linear-gradient(45deg, var(--brand-3), var(--brand-1));
  --gradient-2-t: linear-gradient(to top, var(--brand-4), var(--brand-1));
  --gradient-bg-d: linear-gradient(to top, var(--brand-1), var(--black-300));
  --gradient-brand-dark-d: linear-gradient(
    to bottom,
    var(--black-200),
    var(--black-300)
  );
  --gradient-brand-2-fade-b: linear-gradient(
    to bottom,
    var(--brand-2),
    #ffffff00
  );
  --gradient-white-100-fade-b: linear-gradient(
    to bottom,
    var(--white-100),
    #ffffff00
  );
  --gradient-brand-1-3-d-1-b: linear-gradient(
    to bottom,
    var(--brand-1),
    var(--brand-3-d-1)
  );
  --gradient-black-1-b: linear-gradient(
    to bottom,
    var(--black-200),
    var(--black-400)
  );
  --gradient-black-1-l: linear-gradient(
    to left,
    var(--black-200),
    var(--black-400)
  );
  --gradient-black-2-r: linear-gradient(
    to right,
    var(--black-400),
    var(--grey-100)
  );
  --gradient-silver-b: linear-gradient(
    to bottom,
    var(--black-400),
    var(--white-100)
  );
  --gradient-brand-1-2-3-d-1-t: linear-gradient(
    to top,
    var(--brand-1-2),
    var(--brand-3-d-1)
  );
  --gradient-brand-1-2-1-3-d: linear-gradient(
    to bottom,
    var(--brand-1-2),
    var(--brand-1-3)
  );
  --gradient-brand-1-2-1-d: linear-gradient(
    to bottom,
    var(--brand-1-2),
    var(--brand-1)
  );
}

body {
  color: var(--white-100);
  background: var(--black-300);
  line-height: 1;
}
