@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "inter";
    src: url("/fonts/inter/inter-v.woff") format("woff"),
      url("/fonts/inter/inter-v.woff2") format("woff2");
  }
}

:root {
  --brand-1: #440099;
  --brand-2: #1d0041;
  --brand-3: #80fffb;
  --brand-4: #80ffa4;

  --white-100: #ede6f5;
  --white-200: #d5cfdd;

  --grey-100: #27242a;
  --grey-200: #514d56;

  --black-100: #06000e;
  --black-200: #080012;
  --black-300: #100024;
  --black-400: #0f0c12;

  --s: 0.75rem;
  --p: 1rem;
  --h6: 1.333rem;
  --h5: 1.777rem;
  --h4: 2.369rem;
  --h3: 3.157rem;
  --h2: 4.209rem;
  --h1: 5.61rem;
}

body {
  color: var(--white-100);
  background: var(--black-300);
}
